* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;  
}

div li {
  display: flex;
  align-items: center;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  border-radius: 15px;
  margin-left: 5px;
  text-align: center;
}


.btn-add {
  border: 2px solid #7159c1;
  color: #fff;
  background-color: transparent;
  width: 95px;
  height: 40px;
  display: inline-block;
}

.btn-add:hover {
  background: #7159c1;
  color: #fff;
  font-weight: bold;
}

div li button {
  background: #ca4949;
}

body {
  background: #000;
  color: #fff;
  margin: 20px;
}

header {
  display: flex;
  align-items: center;
}

.list-repositories {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.list-repositories ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;
}

.list-repositories ul li {
  background: rgb(32, 32, 36) none repeat scroll 0% 0%;
  border-radius: 5px;
  padding: 24px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 470px;
  height: 249px;
}

.list-repositories ul li:hover {
  border: 1px solid rgb(48, 153, 6);
}

.list-repositories .btn-like {
  background: transparent;  
  margin: 0px;
  padding-left: 2px;
  padding-top: 25px;
  line-height: 14px;
}

.list-repositories .btn-remove {
  background: transparent;
  border: 1px solid #ca4949;
  border-radius: 5px;
  margin-right: 8px;
  margin-left: 0;
  width: 189px;
  height: 73px;
  display: inline-block;
}

.list-repositories .btn-url {
  background: transparent;
  border: 1px solid #7159c1;
  border-radius: 5px;
  margin-left: 11px;
  width: 189px;
  height: 73px;
  display: inline-block;
}

.list-repositories button + button {
  margin-left: 10px;
}

.list-repositories .btn-remove:hover {
  border: 3px solid #ca4949;  
}

.list-repositories .btn-url:hover {
  border: 3px solid #7159c1;  
}

.list-repositories h3 {
  margin-bottom: 30px;
  font-weight: 700;
}

.list-repositories span {
  background: green;
  border-radius: 15px;
  padding: 5px;
}

.list-repositories span + span {
  margin-left: 8px;
}

.list-repositories .btn-like small {
  background: transparent;  
  margin: 0px;
  padding-left: 2px;
  padding-top: 25px;
  line-height: 14px;
}

.list-repositories .btn-add {
  width: 100%;
}

.title-btn {
  margin: 4px;
}

.repository-container form {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.repository-container form input {
  color: #fff;
  margin-top: 8px;
  padding: 8px;
  margin: 4px;
  border-radius: 15px;
  background: transparent;
  border: 2px solid #a99898;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 282px;
}

.button:hover {
  filter: brightness(90%);
}
