* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;  
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}


button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  background: #ca4949;
}

body {
  background: #000;
  color: #fff;
  margin: 20px;
}

header {
  display: flex;
  align-items: center;
}

.repository-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repository-container ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  list-style: none;
}

.repository-container ul li {
  background: rgb(32, 32, 36) none repeat scroll 0% 0%;
  border-radius: 5px;
  padding: 24px;
  position: relative;
  display: block;
  font-size: 14px;
}

.repository-container ul li:hover {
  border: 1px solid rgb(48, 153, 6);
}

.repository-container .btn-like {
  background: transparent;  
  margin: 0px;
  padding-left: 2px;
  padding-top: 25px;
  line-height: 14px;
}

.repository-container .btn-remove {
  background: transparent;
  border: 1px solid #ca4949;
  border-radius: 5px;
  margin-right: 10px;
  width: 46%;
}

.repository-container .btn-url {
  background: transparent;
  border: 1px solid #7159c1;
  border-radius: 5px;
  margin-left: 10px;
  width: 46%;
}

.repository-container .btn-remove:hover {
  border: 3px solid #ca4949;  
}

.repository-container .btn-url:hover {
  border: 3px solid #7159c1;  
}

.repository-container h3 {
  margin-bottom: 30px;
  font-weight: 700;
}

.repository-container span {
  background: green;
  border-radius: 15px;
  padding: 5px;
}

.repository-container span + span {
  margin-left: 8px;
}

.repository-container .btn-like small {
  background: transparent;  
  margin: 0px;
  padding-left: 2px;
  padding-top: 25px;
  line-height: 14px;
}

.repository-container .btn-add {
  width: 100%;
}

.title-btn {
  margin: 4px;
}
